<?php
/**
 *
 * @description CobroDigital Bank Transfer Payment Method Info Block
 *
 * @author C. M. de Picciotto <https://www.cmdepi.com> <cmdepicciotto@gmail.com>
 *
 */

/** @var \Cmdepi\CobroDigital\Block\Info\Banktransfer $block */

// @codingStandardsIgnoreFile
?>
<p class="cd-banktransfer-payment-method-title"><strong><?php echo $block->escapeHtml($block->getMethod()->getTitle()); ?></strong></p>

<div class="cd-ticket-payment-data">
    <div class="payer-data">
        <?php foreach ($block->getBankTransferData() as $data): ?>
            <p><?php echo $data ?></p>
        <?php endforeach; ?>
    </div>
</div>



