<?php
/**
 *
 * @description CobroDigital Payment Ticket Info Block
 *
 * @author C. M. de Picciotto <https://www.cmdepi.com> <cmdepicciotto@gmail.com>
 *
 */

/** @var \Cmdepi\CobroDigital\Block\Info\Ticket $block */

// @codingStandardsIgnoreFile
?>
<p class="cd-ticket-payment-method-title"><strong><?php echo $block->escapeHtml($block->getMethod()->getTitle()); ?></strong></p>

<div class="cd-ticket-payment-data">
    <div class="payer-data">
        <?php foreach ($block->getPayer()->getInformation() as $key => $value): ?>
            <p><strong><?php echo $key ?></strong></p>
            <p><?php echo $value ?></p>
        <?php endforeach; ?>
    </div>

    <div class="payment-ticket-data">
        <p><strong><?php echo __('Payment Ticket N°') ?></strong></p>
        <p><?php echo $block->getPaymentTicket()->getNroBoleta() ?></p>
        <p><?php echo sprintf(__('Due Date: %s'), $block->getPaymentTicketDueDate()) ?></p>
        <a href="<?php echo $block->getPaymentTicketPrintUrl() ?>"><?php echo __('Print Ticket') ?></a>
    </div>
</div>



