<?php
/**
 *
 * @description CobroDigital Bank Transfer Payment Method Form Block
 *
 * @author C. M. de Picciotto <https://www.cmdepi.com> <cmdepicciotto@gmail.com>
 *
 */

/** @var \Cmdepi\CobroDigital\Block\Form\Banktransfer $block */

// @codingStandardsIgnoreFile
?>

<?php $code = $block->escapeHtml($block->getMethodCode()); ?>

<fieldset class="admin__fieldset payment-method" id="payment_form_<?= /* @noEscape */ $code ?>" style="display:none">
    <div class="field-number admin__field _required">
        <label class="admin__field-label">
            <span><?php echo __('Firstname') ?></span>
        </label>

        <div class="admin__field-control">
            <input type="text" name="payment[firstname]" title="<?php echo __('Firstname') ?>" class="admin__control-text" value="<?php /* @noEscape */ echo $block->getBankTransferData('firstname') ?>"/>
        </div>
    </div>

    <div class="field-number admin__field _required">
        <label class="admin__field-label">
            <span><?php echo __('Lastname') ?></span>
        </label>

        <div class="admin__field-control">
            <input type="text" name="payment[lastname]" title="<?php echo __('Lastname') ?>" class="admin__control-text" value="<?php /* @noEscape */ echo $block->getBankTransferData('lastname') ?>"/>
        </div>
    </div>

    <div class="field-number admin__field _required">
        <label class="admin__field-label">
            <span><?php echo __('CUIT') ?></span>
        </label>

        <div class="admin__field-control">
            <input type="text" name="payment[cuit]" title="<?php echo __('CUIT') ?>" class="admin__control-text" value="<?php /* @noEscape */ echo $block->getBankTransferData('cuit') ?>"/>
        </div>
    </div>

    <div class="field-number admin__field _required">
        <label class="admin__field-label">
            <span><?php echo __('E-Mail') ?></span>
        </label>

        <div class="admin__field-control">
            <input type="text" name="payment[email]" title="<?php echo __('E-Mail') ?>" class="admin__control-text" value="<?php /* @noEscape */ echo $block->getBankTransferData('email') ?>"/>
        </div>
    </div>

    <div class="field-number admin__field _required">
        <label class="admin__field-label">
            <span><?php echo __('CBU') ?></span>
        </label>

        <div class="admin__field-control">
            <input type="text" name="payment[cbu]" title="<?php echo __('CBU') ?>" class="admin__control-text" value="<?php /* @noEscape */ echo $block->getBankTransferData('cbu') ?>"/>
        </div>
    </div>
</fieldset>



