<?php
/**
 *
 * @description CobroDigital Payment Ticket Form Block
 *
 * @author C. M. de Picciotto <https://www.cmdepi.com> <cmdepicciotto@gmail.com>
 *
 */

/** @var \Cmdepi\CobroDigital\Block\Form\Ticket $block */

// @codingStandardsIgnoreFile
?>

<?php $code = $block->escapeHtml($block->getMethodCode()); ?>

<fieldset class="admin__fieldset payment-method" id="payment_form_<?= /* @noEscape */ $code ?>" style="display:none">
    <input type="hidden" name="payment[payerid]" value="<?php /* @noEscape */ echo $block->getPayerId() ?>"/>

    <?php foreach ($block->getFormAttributes() as $attribute): ?>
        <div class="field-number admin__field _required">
            <label class="admin__field-label">
                <span><?php echo $attribute['label'] ?></span>
            </label>

            <div class="admin__field-control">
                <input type="text" name="payment[<?php echo $attribute['magekey'] ?>]" title="<?php echo $attribute['label'] ?>" class="admin__control-text" value="<?php /* @noEscape */ echo $block->getAttributeValue($attribute['cdkey']) ?>"/>
            </div>
        </div>
    <?php endforeach; ?>
</fieldset>



