<!--
/**
 *
 * @description CobroDigital Bank Transfer Payment Method HTML
 *
 * @author C. M. de Picciotto <https://www.cmdepi.com> <cmdepicciotto@gmail.com>
 *
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="form-list fieldset">
            <div class="field required">
                <label class="label" for="firstname">Nombre</label>
                <div class="control">
                    <input type="text" id="firstname" name="payment[firstname]" class="input-text required-entry"/>
                </div>
            </div>

            <div class="field required">
                <label class="label" for="lastname">Apellido</label>
                <div class="control">
                    <input type="text" id="lastname" name="payment[lastname]" class="input-text required-entry"/>
                </div>
            </div>

            <div class="field required">
                <label class="label" for="cuit">CUIT</label>
                <div class="control">
                    <input type="text" id="cuit" name="payment[cuit]" class="input-text required-entry"/>
                </div>
            </div>

            <div class="field required">
                <label class="label" for="email">E-Mail</label>
                <div class="control">
                    <input type="text" id="email" name="payment[email]" class="input-text required-entry"/>
                </div>
            </div>

            <div class="field required">
                <label class="label" for="cbu">CBU</label>
                <div class="control">
                    <input type="text" id="cbu" name="payment[cbu]" class="input-text required-entry"/>
                </div>
            </div>

            <div class="field required">
                <label class="label" for="payment_installments">Cuotas</label>
                <div class="control">
                    <select id="payment_installments" name="payment[payment_installments]" class="input-text required-entry" data-bind="options: getPaymentInstallments(), optionsText: 'label', optionsValue: 'value'">
                    </select>
                </div>
            </div>
        </div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {'title': $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>