/**
 *
 * @description CobroDigital Payment Ticket Method Success Page
 *
 * @author C. M. de Picciotto <https://www.cmdepi.com> <cmdepicciotto@gmail.com>
 *
 */
/**************************************
 *                                    *
 *           Print Button             *
 *                                    *
 **************************************/
.payment-ticket .action-toolbar .primary {
  text-align: center;
  margin-top: 22px;
}

/**************************************
 *                                    *
 *         Payment Ticket             *
 *                                    *
 **************************************/
.payment-ticket h3 {
  text-align     : center;
  text-decoration: underline;
  margin         : 30px 0 20px 0;
}