<?php
/**
 *
 * @description CobroDigital Payment Ticket Checkout Success Template
 *
 * @author C. M. de Picciotto <https://www.cmdepi.com> <cmdepicciotto@gmail.com>
 *
 */
?>

<?php /** @var \Cmdepi\CobroDigital\Block\Checkout\Onepage\Success\Ticket $block */?>

<?php if ($block->isPaymentTicketOrder()): ?>
    <div class="payment-ticket">
        <h3><?php echo __('Payment Ticket') ?></h3>

        <?php echo $block->getTicketHtml() ?>

        <div class="action-toolbar">
            <div class="primary">
                <a class="action primary continue" target="_blank" href="<?php echo $block->getPaymentTicketPrintUrl() ?>"><?php echo __('Print')?></a>
            </div>
        </div>
    </div>
<?php endif; ?>
